$body-bg: #ecf0f1;
$navbar-default-bg: #ecf0f1;
$navbar-default-link-color: #2c3e50;
$brand-primary: #e67e22;

@import 'bootstrap-sprockets';
@import 'bootstrap';

.navbar-brand{
	font-weight: bold;
}

.center{
	text-align: center;
}